{
  "env": {
    "development": {
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-flow-comments"
      ]
    },
    "production": {
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-flow-comments"
      ]
    },
    "test": {
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-flow-strip-types",
        "istanbul"
      ]
    }
  },
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": 8
        },
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-flow"
  ],
  "retainLines": true
}
